@use 'sass:map';
@use 'sass:meta';
@use 'sass:list';

$breakPoints: (
    'phone': (0px, 768px),
    'desktop': 768px,
);

@mixin ResponseTo($name) {
    $bp: map.get($breakPoints, $name);
    @if meta.type-of($bp) == 'list' {
        $min: list.nth($bp, 1);
        $max: list.nth($bp, 2);
        @media (min-width: $min) and (max-width: $max) {
            @content;
        }
    } @else {
        @media (min-width: $bp) {
            @content;
        }
    }
}